{{!< default}}
<style>
	img {
		max-height: 500px;
		width: auto;
	}

	.card-title {
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
		text-align: left;
		margin: 0;
	}
</style>
	{{#if products.length}}
		<h2>Products</h2>
		<div class="row">
			{{#each products}}
				<div class="col m4 s12">
					<div class="card">
						<div class="card-image">
							<img
								src="{{picture}}">
							<p class="card-title orange-text text-darken-2">{{name}}</p>
						</div>
						<div class="card-content">
							<p class="row"> This is a king size bed in fairly new condition (on your scale, it's probably a 4).</p><br />
							<p>Condition: {{condition}}</p>
						</div>
						<div class="card-action">
							<a href="#">Edit</a>
							<a href="#">Delete</a>
							<a href="#">Complete</a>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	{{/if}}
	{{#if services.length}}
		<h2>Services</h2>
		<ul class="collection">
			<div class="row">
				{{#each services}}
				{{log this}}
					<li class="collection-item avatar" style="text-align: left">
						<span class="title"><strong>{{name}}</strong></span>
						<p>{{description}}</p>
						<p>Availability: {{availability}}</p>
						<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
						<div class="card-action">
							<a href="#">Edit</a>
							<a href="#">Delete</a>
							<a href="#">Complete</a>
						</div>
					</li>
				{{/each}}
			</div>
		</ul>
	{{/if}}
